* {
    box-sizing: border-box;
}

table {
    height: 150px;
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    width: device-width;
    border: 1px solid black;
    border-collapse: collapse;
}